body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, hsl(0, 5%, 91%), hsla(180, 50%, 98%, 0.99));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #fe9e4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #d5e0e3;
}

#message {
    margin-top: 10px;
    color: red;
}